# If you modify this, please also make sure to edit init.sh

[Unit]
Description=Sensor-service logging 1-wire sensors to InfluxDB
After=influxdb.service owserver.service

[Service]
ExecStart=/opt/sensor-service/sensor-service.py
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
